html {
    height: 100%;
  }
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  padding: 40px;
  background-color: #4268a5;  
}

.welcome {
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 80px;
  color: rgba(255,255,255,.70);
}

/* Animation */
.welcome{
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}


h1 {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 18px;
  color: rgba(255,255,255,.70);
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
} 

p{
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 18px;
  color: rgba(255,255,255,.70);
}


